.innerbanner {
  margin-bottom: 30px;
}
.post_item_pic_des{

}
.post_item_pic_des h3 {
  font-size: 17px;
}
.post_item_pic_des h3 a {
  color: #484848 ;
  text-decoration: none ;
}
.post_item_pic_des h3 a:hover {
 opacity: 0.8;
 color: #484848 ;

}
.post_item_pic {
  margin-bottom: 15px;
}
.allnews_opt{
  border-bottom: 1px solid #EDECED;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.post_add {
  color: #A7A6A6;
  font-size: 13px;
}
.post_add span {
  display: inline-block;
  margin-right: 15px;
}
.post_add strong {
    font-weight: 400;
}

.postdate_opt i {
  color: #095B2A;
}
.postdate_opt span {
  display: inline-block;
  margin-right: 15px;
}
.postdate_opt strong {
  font-weight: 400;
}
.postdate_opt {
  color: #A7A6A6;
  font-size: 13px;
  margin-bottom: 16px;

}


@media (max-width: 767px){
.post_item_pic img {
    width: 100% !important;
}
}

