
.bloginfo {
  display: flex;
  justify-content: space-between;

}
.inner_maincontent {
  flex: 0  67%;
  border-right: 1px solid #EDECED;
  padding: 0px 3% 0 0;
  margin-right: 3%;
}

.blogadd {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EDECED;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.blogadd_info {
  flex: 1;
}
.blogadd_img {
  flex: 0  56%;
  margin-right: 3%;
}

.blogadd_info h2 {
  font-size: 22px;
  font-weight: 600;
}

.tranding_opt {
  margin-bottom: 10px;
}


.tranding_opt span {
  background: #62C232;
  color: #fff;
  padding: 4px 14px;
  border-radius: 6px;
  display:inline-block
}

.heading_info {
  padding-bottom: 15px;
}

.heading_info h2 {
  font-size: 22px;
}


.all_post_item_wrap {
  display: flex;
  flex-wrap: wrap;
}

.all_post_item {
  flex: 0 1 48%;
  margin: 0 4% 2% 0;
}

.all_post_item:nth-of-type(odd) {
  }
      
  .all_post_item:nth-of-type(even) {
  margin-right: 0px;
  }


.post_item_pic_des h3 {
  font-size: 17px;
}
.post_item_pic {
  margin-bottom: 15px;
}
.allnews_opt{
  border-bottom: 1px solid #EDECED;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.overpostadd .all_post_item {
  flex: 0 31%;
  margin-right: 0;
}
.overpostadd .all_post_item_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.overpostadd h3 {
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
}
.viewMore_opt span {
  color: #fff;
  background: #000;
  padding: 5px 15px;
  border-radius: 21px;
  font-size: 15px;
  cursor: pointer;

}
.viewMore_opt span:hover {
  color: #fff;
  background: #D9251C;

}


.heading_info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dusiness_add_des_wrap {
  display: flex;
  justify-content: space-between;
}
.dusiness_post_item {
  display: flex;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #EDECED;
}
.dusiness_post_item h3 {
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
}

.dusiness_add_grap {
  flex: 0 48%;
}

.dusiness_post {
  flex: 1;
  margin: 0 2% 0 0;
  padding-right: 2%;
  border-right: 1px solid #EDECED;
}
.dusiness_add_grap h3 {
  font-size: 17px;
  padding: 15px 0 5px;
}

.post_item_pic_des p {
  margin: 0;
  padding: 0px 0px 5px;
}
.dusiness_post .post_item_pic {
  margin: 0px 14px 0 0 !important;
  flex: 0 37%;
}
.post_item_pic_des {
  flex: 1;
}

.allnews_opt.dusiness_add {
  border: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.dusiness_post_item:last-child {
  margin-bottom: 0px;
  border: 0px;
  padding-bottom: 0px;
}

.newsletter_info {
  background: #282828;
  padding: 30px;
  text-align: center;
  margin: 15px 0px 30px;
  color: #fff;
}
.newsletter_info h2 {
  font-size: 22px;
}
.newsletter_info p {
  color: #9E9D9D;
}
.followup_info .social_inp_row {
  border-radius: 2px;
}
.form_control {
  background: #4E4E4E;
  border: 0px;
  outline: 0px;
  color: #9E9D9D;
  border-radius: 2px;
  padding: 10px 15px;
  box-shadow: 0 0 0 0.25rem transparent ;
  width: 100%;

}
.form_control::placeholder { 
  color: #9E9D9D;
  opacity: 1; }

.form_control:-ms-input-placeholder {
  color: #9E9D9D;
}

.form_control::-ms-input-placeholder { 
  color: #9E9D9D;
}

.Subscribe_btn {
  background: #D9251C;
  color: #fff;
  padding: 10px;
  width: 100%;
  border: 0px;
  outline: 0px;
  margin-top: 12px;
  border-radius: 2px;
}
.Subscribe_btn:hover {
  background: #850d07;
}
.calendar_info{

}
.blog_more_info{

}
.inp_from_row{
  width: 100%;
}

.from_des {
  padding: 15px 0;
}
.sidebar_info {
  flex: 0 30%;
}

.blog_more_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #EDECED;
}
.blog_img_add_des h3 {
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
  padding: 0px 0px 10px;
}
.blog_img_add_des {
  flex: 1;
}
.post_add span {
  display: inline-block;
  margin-right: 15px;
}
.post_add {
  color: #A7A6A6;
  font-size: 13px;
}

.post_add strong {
  font-weight:400
}
.blog_img_add {
  flex: 0 1 40%;
  margin: 0 4% 0 0;
}


.rmdp-wrapper.rmdp-shadow {
  width: 100%;
  border: 0px;
  background: #EDECED;
  margin: 35px 0 35px;
  box-shadow: 0px 0px 0px transparent;
}

.rmdp-calendar {
  height: max-content;
  padding: 4px;
  width: 100%;
}
.rmdp-day-picker {
  width: 100% !important;
  max-width: 100%;
}
.rmdp-day-picker > div {
  width: 100%;
}
.rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: #D9251C !important;
  box-shadow: transparent !important;
  color: #fff;
}
.rmdp-week-day {
  color: #AEB0B6 !important;
  font-weight: 400 !important;
}
.rmdp-header-values {
  color: #5D646E;
  margin: auto;
  font-size: 15px;
}
.rmdp-arrow {
  margin-top: 7px !important;
}

.rmdp-day, .rmdp-week-day {
  color: #5D646E !important;
}
.rmdp-day.rmdp-today span {
  background-color: #a8acae;
  color: #fff;
}
.rmdp-arrow {
  border: solid #484848;
}

@media (max-width:1199px){
  .container, .container-lg, .container-md, .container-sm {
    max-width: 100% !important;
}
.sidebar_info {
  flex: 0 1 36%;
}
.blogadd_info h2 {
  font-size: 18px;
}
.inner_maincontent {
  flex: 0 1 70%;
  padding: 0px 2% 0 0;
  margin-right: 2%;
}
}
@media (max-width:980px){
  .bloginfo {
    flex-direction: column;
}
.inner_maincontent {
  flex: 0 1 70%;
  padding: 0;
  margin-right: 0;
  border-right: 0px;
  border-bottom: 1px solid #EDECED;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.blog_img_add {
  flex: inherit;
  margin: 0 4% 0 0;
  width: 132px;
}
.blog_img_add_des h3 {
  font-weight: 500;

}
.related_blog_posts .all_post_item {
  flex: 0 1 31.3%;
  margin: 0px 2% 3% 0;
}
.inp_row.loginmail_option .form-floating {
  flex: 1;
}
.blog_more_info {
  display: flex;
  flex-wrap: wrap;
}
.blog_more_item {

  flex: 0 50%;
}
}

@media (max-width:767px){
  .blog_more_info {
    flex-direction: column;
}
.blog_more_item {
  flex: initial;
}
  .myaccount_info {
    flex-direction: column;
  }
  .addprofile_add {
    padding: 0;
  }
  .map_conttent_area iframe {
    height: 605px;
}
  .map_description {
    max-width: 258px;
}
.map_heading h2 {
  font-size: 20px;
}
.map_heading {
  font-size: 14px;
}
.social_inp_row {
  padding: 8px 15px;
  border-radius: 10px;
  margin-bottom: 9px;
}
.textinfo {
  padding: 0px 0;
  margin: 0px;
}
.mapdes p {

  margin: 0px 0px 7px;
}
  .manuicon {
    display: block;
  }
  
  .submenu {

    display: none;
}
.blogadd img {
  width: 100% !important;
}

.blogadd {
  flex-direction: column;
}
.blogadd_img {
  margin-right: 0;
  margin-bottom: 20px;
}
.all_post_item_wrap {
  flex-direction: column;
}
.all_post_item {
  margin: 0px 0px 15px;
}
.post_item_pic img {
  width: 100% !important;
}


.dusiness_add_des_wrap {
  flex-direction: column;
}

.dusiness_post {
  flex: 1 1;
  margin: 0px 0px 19px;
  padding-right: 0;
  border-right: 0px;
  border-bottom: 1px solid #EDECED;
  padding-bottom: 20px;
}
  .footer_block.footerlogo_des {
    flex: 100%;
}

.footer_block {
  margin-bottom: 20px;
  flex: 0 46%;
  margin-right: 2%;
}
.header_nav {
  display: none;
}
.login_view a {
  padding: 5px 6px;
  margin-left: 5px;
  font-size: 12px;
}
.login_view a i {
  font-size: 15px;
  margin-right: 5px;
}
.logo {
  width: 107px;
}
.innercontent_outer {
  padding: 25px 0px;
}
.footer_outer {
  padding: 20px 0 0 0px;
}
.footer_block:last-child {
  width: 100% !important;
  flex: 0 100%;
}

.related_blog_posts .all_post_item_wrap {
  flex-direction: row ;
}
.related_blog_posts .all_post_item {
  flex: 0 48%;
  margin: 0 1% 2%;
}

.inner_cont_text h2 {
  font-size: 20px;
  margin-bottom: 15px;

}
.inner_cont_text h3 {
  font-size: 16px;
  margin-bottom: 15px;
}

.contact_des {
  flex-direction: column;
}
.contact_des_right {
  padding-top: 30px;
  width: 100%;
}
.contact_des_add {
  text-align: right;
  padding: 0px 0px 15px;
}
.inp_row.opt2 {
  flex-direction: column;
}
.inp_row.opt2 .form-floating {
  margin-bottom: 20px;
  width: initial;
}
.contact_fromdes {
    text-align: left;
    padding: 33px 0 23px;
}
.contactus_banner h2 {
  font-size: 32px;
}

}


@media (max-width:450px){
  .heading_info h2 {
    font-size: 20px;
}
.post_item_pic_des h3 {
  font-size: 15px;
}

.map_description {
  position: relative;
  left: 0px;
  bottom: 0px;
  width: auto;
  right: inherit;
  max-width: initial;
  margin: 15px;
}

.logo {
  width: 93px;
}
.related_blog_posts .all_post_item_wrap {
  flex-direction: column;
}

}
