.main{
    /* background: #252525; */
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    display: flex;
    justify-content: right;
    flex-direction: column;
    box-shadow: 0px 20px 100px 0px rgba(108, 121, 155, 0.2);
    background: #ffffff;
    margin-top: 50px;
    margin-bottom: 110px;
    margin-left: 400px;
    margin-right: 400px;
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .signin {
    background: #d9251c;
    border-radius: 2px;
    width: 80%;
  }
  .inputbox {
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-right:40px;
    width: 100%;
    padding-left: 10%;
    justify-content: space-between;
    /* padding-right:10%; */
  }
  .input {
    /* box-sizing: border-box; */
    background: #f1f1f1;
    /* border-radius: 2px; */
    width: 20%;
    justify-content: space-between;
    padding-right:10px;
    border:none;
  }
  .submit {
    background: #d9251c;
    border-radius: 2px;
    width: 80%;
    border:none;
  }