
.contactus_banner{
  background: url(../public/assets/images/contactus/contactus.png) no-repeat center top;
  background-size: cover;
  padding: 80px 50px;
  text-align: center;
  margin-bottom: 60px;

}
.contactus_banner h2{
  font-size: 38px;
  margin-bottom: 10px;
  color: #fff;
}
.contactus_banner p{
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  color: #ACB6B5;
}


.contact_des {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact_des_left {
    flex: 0 58%;
}
.contact_des_add{
  text-align: right;
  padding: 0px 0px 15px 20%;
}
.contact_des_right {
  flex: 0 36%;
}
.contact_info{

}
.contact_info_block {
  position: relative;
  padding-left: 32px;
}

.contact_info_block i {
  position: absolute;
  left: 0px;
  color: #D9251C;
  font-size: 22px;
}
.contact_info h2 {
  font-size: 28px;
  margin: 0px;
  padding: 0px 0px 10px;
}
.contact_info_block h3 {
  font-size: 16px;
  margin: 0px;
  padding: 4px 0px 4px;
}
.contact_info_block h4 {
  font-size: 18px;
  margin: 0px;
  padding: 0px 0px 5px;
}
.contact_info_block span{
  display: block;
}


.contact_fromdes {
  text-align: center;
  padding: 60px 0 0;
}

.contactus_info {
  padding: 20px 0px 0px;
}


 .inp_from_row {
  max-width: 260px;
  margin: 0px auto;
}


@media (max-width: 767px){
  .contactus_banner {
    margin-bottom: 16px;
}
.contact_des {
    flex-direction: column;
}
.contact_des_right {
  padding-top: 30px;
  width: 100%;
}
.contact_fromdes {
  text-align: left;
  padding: 33px 0 23px;
}
.contactus_banner h2 {
font-size: 32px;
}

.contact_des_add {
  text-align: right;
  padding: 0px 0px 15px;
}
}
