/* footer */
.footer_outer {
  padding: 60px 0 0 0px;
  background:#1F2230 ;

}

.footer_cont {
  display: flex;
  justify-content: space-between;
  line-height: 20px;
}
.footer_outer .headinginfo {
  color: #fff;
  padding: 0px;
  margin: 0px 0px 10px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
 .footer_block p {
  padding: 0px;
  margin: 0px 0px 8px;
  color: #fff;
 }
.footer_outer ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
 }
.footer_outer ul li{
 display: block;
 margin-bottom: 8px;
 }
.footer_outer ul li a{
  display: block;
  color: #CECECE;
  text-decoration: none;
  }
.footer_outer ul li a:hover{
    color: #fff;
    }

    .footer_block {
      flex: 0 19%;
  }   
.copyright_text {
  color: #BDBDBD;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #9292921a;
  margin-top: 20px;
}
.copyright_text a{
  color: #fff;

}
.footer_outer p i {
  position: absolute;
  left: 0px;
  top: 0px;
}
.footerlogo {
  margin-bottom: 20px;
}
.footer_block p {
  position: relative;
  padding-left: 24px;
}
.footer_block.footerlogo_des {
  flex: 30%;
}

.footer_block.footerlogo_des ul {
  display: flex;
  flex-wrap: wrap;
}

.footer_block.footerlogo_des ul li {
  flex: 0 50%;
}

.footer_block ul li a i{
  margin-right: 2px;

}


@media (max-width:1199px){
.footer_cont {
  flex-wrap: wrap;
}
.footer_block {
  margin-bottom: 20px;
  flex: 0  19%;
  margin-right: 2%;
}
}
@media (max-width:980px){
.related_blog_posts .all_post_item {
  flex: 0 1 31.3%;
  margin: 0px 2% 3% 0;
}
.inp_row.loginmail_option .form-floating {
  flex: 1;
}

}

@media (max-width:767px){
  .myaccount_info {
    flex-direction: column;
  }
  .addprofile_add {
    padding: 0;
  }
  .map_conttent_area iframe {
    height: 605px;
}
  .map_description {
    max-width: 258px;
}
.map_heading h2 {
  font-size: 20px;
}
.map_heading {
  font-size: 14px;
}
.social_inp_row {
  padding: 8px 15px;
  border-radius: 10px;
  margin-bottom: 9px;
}
.textinfo {
  padding: 0px 0;
  margin: 0px;
}
.mapdes p {

  margin: 0px 0px 7px;
}
  .manuicon {
    display: block;
  }
  
  .submenu {

    display: none;
}
.blogadd img {
  width: 100% !important;
}

.blogadd {
  flex-direction: column;
}
.blogadd_img {
  margin-right: 0;
  margin-bottom: 20px;
}
.all_post_item_wrap {
  flex-direction: column;
}
.all_post_item {
  margin: 0px 0px 15px;
}
.post_item_pic img {
  width: 100% !important;
}


.dusiness_add_des_wrap {
  flex-direction: column;
}

.dusiness_post {
  flex: 1 1;
  margin: 0px 0px 19px;
  padding-right: 0;
  border-right: 0px;
  border-bottom: 1px solid #EDECED;
  padding-bottom: 20px;
}
.footerlogo_des {
    flex: 100% !important;
}

.footer_block {
  margin-bottom: 20px;
  flex: 0 46%;
  margin-right: 2%;
}
.header_nav {
  display: none;
}
.login_view a {
  padding: 5px 6px;
  margin-left: 5px;
  font-size: 12px;
}
.login_view a i {
  font-size: 15px;
  margin-right: 5px;
}
.logo {
  width: 107px;
}
.innercontent_outer {
  padding: 25px 0px;
}
.footer_outer {
  padding: 20px 0 0 0px;
}
.footer_block:last-child {
  width: 100% !important;
  flex: 0 100%;
}
.footerlogo img {
  width: 120px !important;
}
}

@media (max-width:450px){

}