@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
html,body {
	padding:0;
	margin:0;
	font-family:'Poppins',sans-serif !important;
	font-size:15px !important;
	font-weight:400 !important;
	color:#484848 !important;
}
h1,h2,h3,h4,h5,h6 {
	font-family:'Roboto',sans-serif;
}
a {
	color:inherit;
	text-decoration:none;
}
* {
	box-sizing:border-box;
}

img {
	width:auto !important;
	height:auto !important;
	max-width: 100% !important;
}
/* Maincontent */
.social_inp_row.facebook_opt {
	display:flex;
	justify-content:space-between;
}
.social_inp_row {
	display:flex;
	justify-content:space-between;
	padding:15px;
	background:#f0f0f0;
	border-radius:12px;
	margin-bottom:15px;
}
.social_inp_row.facebook_opt {
	background:#ebeef5;
	color:#3B5998;
}
.social_inp_row.facebook_opt a {
	color:#3B5998;
}
.social_inp_row.youtube_opt {
	background:#fee8e7;
	color:#F61C0D;
}
.social_inp_row.youtube_opt a {
	color:#F61C0D;
}
.social_inp_row.twitter_opt {
	background:#e6f6fe;
	color:#03A9F4;
}
.social_inp_row.twitter_opt a {
	color:#03A9F4;
}
.innercontent_outer {
	padding:60px 0px
}
.innercontent_outer a {
	color:#484848;
	text-decoration:none;
}
.innercontent_outer a:hover {
	opacity:0.8;
	color:#484848;
}
.heading_info {
	padding-bottom:15px;
}
.heading_info h2 {
	font-size:22px;
}
.all_post_item_wrap {
	display:flex;
	flex-wrap:wrap;
}
.all_post_item {
	flex:0 1 48%;
	margin:0 4% 2% 0;
}
.all_post_item:nth-of-type(odd) {
}
.all_post_item:nth-of-type(even) {
	margin-right:0px;
}
.allnews_opt {
	border-bottom:1px solid #EDECED;
	padding-bottom:30px;
	margin-bottom:30px;
}
.overpostadd .all_post_item {
	flex:0 31%;
	margin-right:0;
}
.overpostadd .all_post_item_wrap {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.allnews_opt.dusiness_add {
	border:0px;
	margin-bottom:0px;
	padding-bottom:0px;
}
.dusiness_post_item:last-child {
	margin-bottom:0px;
	border:0px;
	padding-bottom:0px;
}
button.btn_opt.Subscribe_btn {
	background:#D9251C;
	color:#fff;
	padding:10px;
	width:100%;
	border:0px;
	outline:0px;
	margin-top:12px;
	border-radius:2px;
}
button.btn_opt.Subscribe_btn:hover {
	background:#850d07;
}
.inp_row.loginmail_option {
	flex-direction:row;
	align-items:center;
}
.inp_row.loginmail_option .form-floating {
	width:56%;
	margin-right:2%;
	margin-bottom:0px;
}
.gray_btn {
	border:0px;
	padding:9px 20px;
}
.gray_btn:hover {
	opacity:0.8;
}
.gray_btn {
	border:0px;
	padding:9px 20px;
}
.rmdp-wrapper.rmdp-shadow {
	width:100%;
	border:0px;
	background:#EDECED;
	margin:35px 0 35px;
	box-shadow:0px 0px 0px transparent;
}
.rmdp-calendar {
	height:max-content;
	padding:4px;
	width:100%;
}
.rmdp-day-picker {
	width:100% !important;
	max-width:100%;
}
.rmdp-day-picker>div {
	width:100%;
}
.rmdp-day.rmdp-selected span:not(.highlight) {
	background-color:#D9251C !important;
	box-shadow:transparent !important;
	color:#fff;
}
.rmdp-week-day {
	color:#AEB0B6 !important;
	font-weight:400 !important;
}
.rmdp-header-values {
	color:#5D646E;
	margin:auto;
	font-size:15px;
}
.rmdp-arrow {
	margin-top:7px !important;
}
.rmdp-day,.rmdp-week-day {
	color:#5D646E !important;
}
.rmdp-day.rmdp-today span {
	background-color:#a8acae;
	color:#fff;
}
.rmdp-arrow {
	border:solid #484848;
}
.inner_main_content {
}
.inner_main_content.bloginfo a:hover {
	opacity:0.8;
}
.innerbanner {
	margin-bottom:30px;
}
.inner_cont_text h2 {
	font-size:26px;
	margin-bottom:20px;
}
.inner_cont_text h3 {
	font-size:20px;
	margin-bottom:20px;
}
.inner_cont_text p {
	margin-bottom:15px;
}
.inner_cont_text ul  {
}
.inner_cont_text ul li  {
	margin-bottom:5px;
}
.border_bottom {
	border-bottom:1px solid #EDECED;
	padding-bottom:30px;
	margin-bottom:30px;
}
.related_blog_posts .all_post_item_wrap {
	/* justify-content:space-between;*/
}
.related_blog_posts .all_post_item {
	flex:0 18.3%;
	margin:0px 2% 0 0;
}
.related_blog_posts .all_post_item:last-child {
	margin-right:0px;
}
.inp_row.opt2 {
	display:flex;
	justify-content:space-between;
}
.form-floating {
	position:relative;
	margin-bottom:20px;
}
.inp_row .form-floating {
	width:100%;
}
.inp_row {
	display:flex;
}
.form-control {
	border:1px solid #D1D4E1;
	border-radius:0px;
	outline:0px !important;
	box-shadow:0px 0px 0px transparent !important;
}
.form-control:focus {
	background-color:transparent;
	box-shadow:0px 0px 0px transparent !important;
	border-color:#D1D4E1 !important;
}
.inp_row.opt2 .form-floating {
	position:relative;
	margin-bottom:20px;
	width:49%;
}
.form-floating {
	position:relative;
	margin-bottom:20px;
}
textarea#comment {
	height:130px;
}
.login_opt_details {
	border-top:1px solid #EDECED;
	border-bottom:1px solid #EDECED;
	padding:14px 0px;
	margin:20px 0;
}
.form-floating.withicon i {
	position:absolute;
	left:0px;
	top:8px;
	font-size:24px;
}
.login_opt_details .form-floating>label {
	padding-left:34px;
}
.login_opt_details input#loginmail {
	padding-left:30px;
	border:transparent;
}
.inp_row.loginmail_option {
	flex-direction:row;
	align-items:center;
}
.inp_row.loginmail_option .form-floating {
	width:56%;
	margin-right:2%;
	margin-bottom:0px;
}
.gray_btn {
	border:0px;
	padding:9px 20px;
}
.gray_btn:hover {
	opacity:0.8;
}
.login_opt_details input#loginmail {
	padding-left:30px;
	border:transparent;
}
.login_opt_details .form-floating>label {
	padding-left:34px;
}
.myaccountdetails .inp_from_row {
	display:flex;
	justify-content:space-between;
	text-align:center;
}
.myaccountdetails .inp_from_row .btn_opt {
	flex:0 1 48%;
	margin:0px;
}
.myaccountdetails .inp_row {
	flex-direction:column;
}
.defbtn {
	cursor: pointer;
}

   .activebtn {
	color: #fff !important;

	background: #D9251C !important;
  
  }
a {
    cursor: pointer;
}

/* modfpopup */
.modal-dialog {
    max-width: 650px !important;
}
 .modal-content {
    background: none !important;
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}
.modal{ 
	background: #ffffffd4 !important;

}
.popupouter {
    /* position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background: #ffffffd4;
    z-index: 1000; */

	background: #fff;
    max-width: 700px;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 0px 0px 50px #00000038;
}
  .popupcontent {
	/* background: #fff;
    max-width: 500px;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 0px 0px 50px #00000038; */
	/* transform: translate(0%, 24%); */


  }
  .popuplogo {
	text-align: center;
	padding-bottom: 15px;
  }
  .inp_row_opt  {
  position: relative;
  margin-bottom: 15px;
  }
  
  .inp_text_view {
	display: block;
  }
  .inp_text_view {
    position: relative;
    background: #F1F1F1;
    border-radius: 2px;
    display: flex;
    padding: 8px 10px;
	margin-top: 5px;
}
.inp_text_view span {
	color: #6C799B;
    padding: 0px 11px 0px 2px;
    font-size: 14px;
    border-right: 1px solid #6C799B;
    margin-right: 10px;
}

  .inp_text_view .form-control {
    background: transparent !important;
    border: 0px;
    outline: 0px;
    padding: 0px 5px;
    flex: 1;
}
.form-control:focus {
    color: #212529;
    background-color: #fff transparent !important;
    /* border-color: transparent !important; */
    outline: 0;
    box-shadow: 0 0 0 0.25rem transparent !important;
}
.chekout_opt {
    display: flex;
    justify-content: space-between;
}

.inp_row_opt .defbutton {
    background: #D9251D;
    display: block;
    width: 100%;
    border: 0px;
    padding: 14px;
    color: #fff;
    font-size: 16px;
	margin-top: 20px;

}
.checkoption_view {
    display: flex;
    justify-content: space-around;
}
.defbutton:hover {
    opacity: 0.8;
}
.btnoptview {
    display: flex;
    justify-content: space-between;
}
.btnoptview .defbutton {
    flex: 0 48%;
}
.btnoptview .defbutton {
    background: #D9251D;
    display: block;
    width: 100%;
    border: 0px;
    padding: 14px;
    color: #fff;
    font-size: 16px;
	margin-top: 20px;

}
.defbutton.prevbtn {
    background: #E8E8E8 !important;
    color: #626262;
}
.chekout_opt p {
    color: #151515;
	text-decoration: underline;
}
.popupcontent h3{
	text-align: center;
	font-size: 24px;
	padding: 0px 0px 15px;
}
.chekout_opt p {
   padding: 0px;
   margin: 0px;
}
.chekout_opt a{
	color: #484848;
}
.chekout_opt a:hover {
    color: #151515;
	text-decoration: none;
}
p.otpinfo {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #21415959;
    margin-bottom: 20px;
}

.popuplogo {
    width: 108px;
    margin: 0px auto;
}
.morecont_opt {
    text-align: center;
}
.morecont_opt a {
    font-weight: 600;
	cursor: pointer;
}
.morecont_opt a:hover {
    color: #151515;
	text-decoration: none;
}
.inp_row_opt.otpinput {
    display: flex;
}
.inp_text_view {
    margin:5px 0 0  ;
}

.otpinput .defbutton {
    margin: 0px;
}

.confirmPassword .inp_text_view {
    padding: 0px;
	margin: 0px 2%;
}
.confirmPassword .inp_text_view .form-control {
    text-align: center;
    padding: 10px;
}

.morecont_opt a {
    text-decoration: none;
}
.inp_row_opt.otpinput {
    margin: 20px 0;
}

.otpinfo {
    text-align: center;
    padding-bottom: 17px;
}
.inp_row_opt.otpinput .inp_text_view {
    margin: 0px 2%;
    text-align: center;
}

.inp_row_opt.otpinput .form-control {
    text-align: center;
    font-size: 18px;
    padding: 0px 8px;
}
.morecont_opt a {
    text-align: center;
	color: #212529;
}
.morecont_opt a:hover{
    text-align: center;
	color: #212529;
}
.otpinfo a {
	color: #212529;
	font-weight: 600;

}
.otpinfo a:hover {
	color: #212529;

}
.progress {
	margin-bottom: 5px;
    height:5px !important;
    background: #EAEAEA;
}
span.sr-only {
    background: #49DB31;
	height: 100%;
    
}
.progress-bar {
	background: #49DB31;

}

.progresspassword {
    width: 41%;
    text-align: center;
}

.inp_rowopt2 {
    display: flex;
	justify-content: space-between;
}
.inp_rowopt2 .defbutton {
    margin: 0px;
}
.inp_rowopt2 .inp_text_view {
    margin: 0px;
    flex: 1;
    margin-right: 3%;
}



.inner_maincontent_view {
    min-height: 220px;
}
.footer_block.footerlogo_des {
	flex: 30%;
  }
  
  .footer_block.footerlogo_des ul {
	display: flex;
	flex-wrap: wrap;
  }
  
  .footer_block.footerlogo_des ul li {
	flex: 0 50%;
  }
  

  .slider-parent{
	position:relative;
  }
  
  .buble{
	position:absolute;
  }
  .ringslider h4 {
    text-align: center;
    font-size: 30px;
}

.slider-parent {
    padding: 10px 0;
}
  .checkoption_left {
    flex: 0 30%;
    margin-right: 2%;
}
.checkoption_right {
    flex: 0 75%;
    display: flex;
}
.def_ringprice {
    display: flex;
    justify-content: space-between;
}
.checkoption_right .form-check {
    margin-right: 3%;
}
.ringslider input[type="range"] {
    width: 100%;
}


.radio_option [type="radio"]:checked,
.radio_option [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.radio_option [type="radio"]:checked + label,
.radio_option [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.radio_option [type="radio"]:checked + label:before{    
	content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #D9251D !important;
    border-radius: 100%;
    background: #fff;
}

.radio_option [type="radio"]:not(:checked) + label:before {
    border: 1px solid #D9251D;
		content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;

}
.radio_option [type="radio"]:checked + label:after,
.radio_option [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #D9251D;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.radio_option [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.radio_option [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.radio_info {
    margin: 0px 8px;
}

.radio_option {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
/* .popupcontent p {
    margin: 0px;
} */

.popupcontent p strong {
    font-weight: 500;
    /* margin-bottom: 5px; */
}
.popuplogo2 {
    text-align: center;
    padding-bottom: 35px;
    max-width: 64%;
    margin: 0px auto;
}
span.closeiconpopup {
    position: absolute;
    right: 30px;
    top: 47px;
    width: 25px;
	cursor:pointer;
}

.search_map_view {
    display: flex;
    justify-content: space-between;
}
.search_map_opt {
    flex: 1;
    display: flex;
}
.search_map_opt .inp_text_view {
    flex: 1;
    margin: 0px;
}
.search_map_view .inp_row_opt {
    margin: 0px !important ; 
}
.search_map_view .inp_row_opt .defbutton{
	margin: 0px !important ; 

}
button.search_btn {
    border: 0px;
    outline: 0px;
    font-size: 23px;
}
.modal-body {
	position:relative
}



.grid-wrapper img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}



label a {
    margin-left: 5px;
    display: inline-block;
}


@media (max-width:1199px) {
	.container,.container-lg,.container-md,.container-sm {
		max-width:100% !important;
	}
	html,body {
		font-size:14px !important;
	}
	.map_heading {
		font-size:16px;
	}
	.header_nav ul li {
		padding:0px 7px;
	}
	.login_view a {
		padding:5px 12px;
		margin-left:18px;
	}
	.submenu_content ul li a i {
		margin-right:0px;
	}
	.submenu_content ul li {
		display:inline-block;
		padding:0px 2px;
		font-size:12px;
	}
	.map_description {
		right:3%;
		padding:18px;
		max-width:338px;
		margin:22px 0;
		z-index:100;
	}
	.footer_cont {
		flex-wrap:wrap;
	}
	.footer_block {
		margin-bottom:20px;
		flex:0 19%;
		margin-right:2%;
	}
	.map_des_moreview h3 {
		font-size:17px;
		margin:0px;
		padding:15px 0;
	}
	.map_heading h2 {
		font-size:22px;
	}
	.sidebar_info {
		flex:0 1 36%;
	}
	.blogadd_info h2 {
		font-size:18px;
	}
	.inner_maincontent {
		flex:0 1 70%;
		padding:0px 2% 0 0;
		margin-right:2%;
	}
}
@media (max-width:980px) {
	.bloginfo {
		flex-direction:column;
	}
	.inner_maincontent {
		flex:0 1 70%;
		padding:0;
		margin-right:0;
		border-right:0px;
		border-bottom:1px solid #EDECED;
		margin-bottom:30px;
		padding-bottom:30px;
	}
	.blog_img_add {
		flex:inherit;
		margin:0 4% 0 0;
		width:132px;
	}
	.blog_img_add_des h3 {
		font-weight:500;
	}
	.related_blog_posts .all_post_item {
		flex:0 1 31.3%;
		margin:0px 2% 3% 0;
	}
	.inp_row.loginmail_option .form-floating {
		flex:1;
	}
}
@media (max-width:767px) {
	.myaccount_info {
		flex-direction:column;
	}
	.addprofile_add {
		padding:0;
	}
	.map_conttent_area iframe {
		height:605px;
	}
	.map_description {
		max-width:258px;
	}
	.map_heading h2 {
		font-size:20px;
	}
	.map_heading {
		font-size:14px;
	}
	.social_inp_row {
		padding:8px 15px;
		border-radius:10px;
		margin-bottom:9px;
	}
	.textinfo {
		padding:0px 0;
		margin:0px;
	}
	.mapdes p {
		margin:0px 0px 7px;
	}
	.manuicon {
		display:block;
	}
	.submenu {
		display:none;
	}
	.blogadd img {
		width:100% !important;
	}
	.blogadd {
		flex-direction:column;
	}
	.blogadd_img {
		margin-right:0;
		margin-bottom:20px;
	}
	.all_post_item_wrap {
		flex-direction:column;
	}
	.all_post_item {
		margin:0px 0px 15px;
	}
	.post_item_pic img {
		width:100% !important;
	}
	.dusiness_add_des_wrap {
		flex-direction:column;
	}
	.dusiness_post {
		flex:1 1;
		margin:0px 0px 19px;
		padding-right:0;
		border-right:0px;
		border-bottom:1px solid #EDECED;
		padding-bottom:20px;
	}
	.footer_block.footerlogo_des {
		flex:100%;
	}
	.innercontent_outer {
		padding:25px 0px;
	}
	.footer_block:last-child {
		width:100% !important;
		flex:0 100%;
	}
	.related_blog_posts .all_post_item_wrap {
		flex-direction:row;
	}
	.related_blog_posts .all_post_item {
		flex:0 48%;
		margin:0 1% 2%;
	}
	.inner_cont_text h2 {
		font-size:20px;
		margin-bottom:15px;
	}
	.inner_cont_text h3 {
		font-size:16px;
		margin-bottom:15px;
	}
	.inp_row.opt2 {
		flex-direction:column;
	}
	.inp_row.opt2 .form-floating {
		margin-bottom:20px;
		width:initial;
	}

	.popupcontent {
		max-width: 100%;
		margin: 0px;
		padding: 0px;
	}
}
@media (max-width:450px) {
	.heading_info h2 {
		font-size:20px;
	}
	.map_description {
		position:relative;
		left:0px;
		bottom:0px;
		width:auto;
		right:inherit;
		max-width:initial;
		margin:15px;
	}
	.related_blog_posts .all_post_item_wrap {
		flex-direction:column;
	}
	.related_blog_posts .all_post_item {
		width: 100%;
	}
} 