
.headerouter{
  background-color: #fff;
}
.header_cont {
  display: flex;
  justify-content: space-between;
}
.header_right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0px;
}
.header_nav ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
 
.header_nav ul li {
  display: inline-block;
  padding: 0px 10px;
  text-transform: uppercase;
}
.header_nav ul li a {
  color: #484848;
  text-decoration: none;

} 
.login_view {
  display: flex;
  text-transform: uppercase;
}
.login_view a {
  background: #000;
  padding: 9px 17px;
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
}
.login_view a i {
  font-size: 18px;
  margin-right: 5px;
}
.login_view a:hover, .activebtn {
  background: #D9251C;
  color: #fff;
  text-decoration: none;

}
 .activebtn {
  background: #D9251C !important;

}


.submenu {
  background: #000;
  color: #fff;
  padding: 10px 0px;
}
.submenu_content ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.submenu_content ul li {
  display: inline-block;
  padding: 0px 10px;
}
.submenu_content ul li a {
  color: #fff;
  text-decoration: none;

} 
.submenu_content ul li a i {
 margin-right: 5px;

} 

.mobile_menudetails {
  position: fixed;
  width: 280px;
  background: #080707;
  z-index: 1000;
  left: 0px;
  top: 0px;
  overflow: scroll;
  height: 110vh;
  padding: 46px 20px 20px;
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
  box-shadow: 0px 0px 49px #000;
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}

.header_cont {
  align-items: center;
}
.mobile_menudetails ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.mobile_menudetails ul li a {
    color: #fff;
    font-weight: 400;
    padding: 6px;
    text-decoration: auto;
    display: block;
}
.manuicon {
  font-size: 32px;
  display: none;
}

.mobile_menudetails ul li a i {
  margin-right: 8px;
}

.menuclose {
  position: absolute;
  right: 10px;
  color: #fff;
  font-size: 26px;
  top: 10px;
}
.logo {
  width: 135px;
  padding-bottom: 10px;
}


@media (max-width:1199px){
  .container, .container-lg, .container-md, .container-sm {
    max-width: 100% !important;
}

.header_nav ul li {
  padding: 0px 7px;
}
.login_view a {
  padding: 5px 12px;
  margin-left: 18px;
}
.submenu_content ul li a i {
  margin-right: 0px;
}
.submenu_content ul li {
  display: inline-block;
  padding: 0px 2px;
  font-size: 12px;
}

}
@media (max-width:980px){


}


@media (max-width:767px){
  .manuicon {
    display: block;
  }
  
  .submenu {
    display: none;
}
.header_nav {
  display: none;
}
.login_view a {
  padding: 5px 6px;
  margin-left: 5px;
  font-size: 12px;
}
.login_view a i {
  font-size: 15px;
  margin-right: 5px;
}
.logo {
  width: 107px;
}
}

@media (max-width:450px){
.logo {
  width: 93px;
}
}
