.mapouter{

}
.map_conttent_area{

}
.map_conttent_area iframe {
    width: 100%;
    height: 700px;
  }
  
  .map_conttent_area {
    position: relative;
  }
  .map_description {
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgb(0 0 0 / 22%);
    border-radius: 12px;
    position: absolute;
    right: 8%;
    padding: 30px;
    max-width: 393px;
    text-align: center;
    margin: 50px 0;
    z-index: 100;
  }
  
  .map_heading {
    font-size: 18px;
  }
  
  .map_heading h2 {
    color: #D9251C;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
  }
  .map_heading p {
    margin: 0px;
    padding: 0px;
  }
  .map_heading {
    margin-bottom: 20px;
  }
  .mapdes p {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px 0px 15px;
    font-family: 'Roboto', sans-serif;
  }
  .mapdes p strong {
    font-weight: 400;
  }
  .map_des_moreview h3 {
    font-size: 20px;
    margin: 0px;
    padding: 15px 0;
  }
  .textinfo{
    padding: 15px 15px 0;
    margin: 0px;
  }
  @media (max-width: 450px){
.map_description {
    position: relative;
    left: 0px;
    bottom: 0px;
    width: auto;
    right: inherit;
    max-width: none;
    max-width: initial;
    margin: 15px;
}
}