.container {
  position: relative;
  width: 927px;
  height: 773px;
  left: 497px;
  top: 147px;
  margin-bottom: 300px;
  background: #ffffff;
  box-shadow: 0px 20px 100px rgba(108, 121, 155, 0.2);
  border-radius: 10px;
}
.h1 {
  font-family: Poppins;
  font-size: 35px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
}
.h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */

  text-align: center;
  letter-spacing: 0.01em;

  color: #1d3e55;
}
.line {
  position: absolute;
  width: 778px;
  height: 0px;
  left: 572px;
  top: 472px;

  opacity: 0.2;
  border: 1px solid #214159;
}
.b {
  width: 293px;
  height: 12px;
  left: 572px;
  top: 571px;

  background: #d9251c;
  border-radius: 100px;
}
.button {
  width: 366.19px;
  height: 63px;
  left: 572px;
  top: 748px;
  border: none;
  background: #e8e8e8;
  border-radius: 2px;
}
.button:active {
  /* position: absolute; */
  width: 366.19px;
  border: none;
  height: 63px;
  left: 976.81px;
  top: 748px;

  background: #d9251c;
  border-radius: 2px;
}
.buttonBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:10%;
}
