
.myaccount_info  {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.post_add.postdate_opt {
  margin-bottom: 16px;
}
.myaccount_info .inner_cont_text {
  flex: 0 70%;
}

.addprofile_add {
  flex: 0 27%;
  padding: 90px 0px 0 0;
}
.addprofile_add img {
  border-radius: 10px;
}

.profile_pic {
  position: relative;
}
.profile_pic span {
  width: 40px;
  height: 40px;
  background: #d9251c;
  display: inline-block;
  position: absolute;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 21px;
  line-height: 40px;
  box-shadow: 0px 0px 15px #00000078;
}

.inp_row {
  display: flex;
  flex-direction: column;
}

@media (max-width:767px){

  .myaccount_info{
    flex-direction: column;
  }
  .myaccount_info .inner_cont_text {
    padding-top: 20px;
  }
  .addprofile_add {
    padding: 0px 0px 0 0;
  }

}