.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  display: flex;
  justify-content: right;
  flex-direction: column;
  box-shadow: 0px 20px 100px 0px rgba(108, 121, 155, 0.2);
  background: #ffffff;
  margin-top: 100px;
  margin-bottom: 110px;
  margin-left: 500px;
  margin-right: 500px;
  padding-top: 20px;
  padding-bottom: 100px;
}
.signin {
  background: #d9251c;
  border-radius: 2px;
  width: 80%;
  border: none;
}

.a1 {
  margin-left: 521px;
  margin-left: 497px;
  margin-top: 180px;
  margin-bottom: 591px;
}
.input {
  padding-left: 20px;
  box-sizing: border-box;
  background: #f1f1f1;
  border-radius: 2px;
  width: 90%;
  border: none;
}
.inputbox {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  padding-left: 10%;
  /* padding-right:10%; */
}
.check {
  width: 80%;
  /* background: black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
