.contactus_banner{
  background: url(../public/assets/images/termsconditions/termsconditionsbg.png) no-repeat center top;
  background-size: cover;
  padding: 80px 50px;
  text-align: center;
  margin-bottom: 60px;

}
.contactus_banner h2{
  font-size: 38px;
  margin-bottom: 10px;
  color: #fff;
}
.contactus_banner p{
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  color: #ACB6B5;
}

.testimonials_wrap {
  display: flex;
  flex-wrap: wrap;
}
.masonry_content_block {


}
.testimonials_cont{
  flex: 0 30%;
  margin:15px;
  padding: 30px;
  background-color: #F6F6F9;
  border-radius: 5px;
}
.testimonials_cont:hover{
  background-color: #fff;
  box-shadow: 0px 0px 20px #00000017;
}
.testimonials_cont_des {
  color: #797A7C;
  font-style: italic;
  padding: 15px 0 0 ;
}
.testimonials_cont_des p {
  color: #797A7C;
  padding: 0px;
  margin: 0px;
  line-height: 24px;
}
.testimonials_cont_top{
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}
.testimonials_pic{
  margin: 0px 10px 0 0;
}
.testimonials_pic img{
  width: 64px !important;
  height: 64px !important;
  border: 1px solid #c5c5c5;
  margin: 0px;
  padding: 0px;
  outline: 0px;
  border-radius: 50%;
  background: #c5c5c5;
}
.testimonials_title {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0px 10px 0 0;

}
.testimonials_title h3 {
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 5px;
}
.testimonials_title p {
  /* font-size: 14px; */
  padding: 0px;
  margin: 0px;
  color: #797A7C;

}

.testimonials_quotation svg {
  width: 70px;
}

.testimonials_cont:hover .testimonials_quotation svg path {
  fill: #D9251C;
    opacity: 1;
}


.masonry-column {
  padding: 0 1px;
}

.masonry-grid > div .thumbnail {
  margin: 5px 1px;
}




@media (max-width: 767px){
  .contactus_banner {
    margin-bottom: 16px;
}

.contactus_banner h2 {
font-size: 32px;
}
  
.contact_des_add {
  text-align: right;
  padding: 0px 0px 15px;
}
}
