.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  display: flex;
  justify-content: right;
  flex-direction: column;
  box-shadow: 0px 20px 100px 0px rgba(108, 121, 155, 0.2);
  background: #ffffff;
  margin-top: 100px;
  margin-bottom: 110px;
  margin-left: 500px;
  margin-right: 500px;
  padding-top: 20px;
  padding-bottom: 100px;
}
.button {
  border: none;
  background: #d9251c;
  width:20%;
}
.button:active {
  background: #d9251c;
}
.h1 {
  font-family: Poppins;
  font-size: 35px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
}
.h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */

  text-align: center;
  letter-spacing: 0.01em;

  color: #1d3e55;
}
.a1 {
  margin-left: 521px;
  margin-left: 497px;
  margin-top: 180px;
  margin-bottom: 591px;
}
.input {
  box-sizing: border-box;
  background: #f1f1f1;
  border-radius: 2px;
  width: 70%;
  border: none;
  /* width: 142px;
  height: 63px;
  left: 1217px;
  top: 717px; */
}
.inputbox {
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 100%;
  padding-left: 10%;
  /* padding-right:10%; */
}
.check {
  width: 80%;
  /* background: black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
}
